ul {
  padding: 0;
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* section header */

.header-wrap {
  /* background-color: rgb(110, 96, 96); */
  position: absolute;
  width: 100%;
  top: 0px;
  left: 30%;
  z-index: 2;
}
.header-logo {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 17px;
}
.header-icon {
  display: flex;
}
.header-contact {
  display: flex;
  margin-left: auto;
}
.header-list-contact + .header-list-contact {
  padding-left: 33px;
}
.logo-name {
  display: block;
  font-family: PT Serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: #ffffff;
}
.header-icon img {
  margin-right: 20px;
}
.logo-tour {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  color: #ffffff;
}
.header-tel,
.header-mail {
  /* display: inline-block; */
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: #ffffff;
  vertical-align: center;
}
.icon-tel,
.icon-mail {
  display: inline-block;
  margin-right: 13px;
}
.header-button {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  cursor: pointer;
  background: transparent;
  padding: 12px 30px;
  margin-left: 45px;
}
/* header navagation */
.header-navigation {
  display: flex;
}
.nav-link + .nav-link {
  padding-left: 32px;
}
.header-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;
}

/* section hero */
.hero {
  position: relative;
  background-image: url(../images/hero-img.jpg);
  padding-top: 226px;
  padding-bottom: 33px;
  max-width: 1920px;
  margin: 0 auto;
}

.hero-heading {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.3;
  color: #ffffff;
  padding-bottom: 8px;
  max-width: 700px;
}
.hero-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
  padding-bottom: 94px;
  max-width: 450px;
}
.hero-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 184px;
  padding: 20px 53px;
  border: 1px solid #ffffff;
  border-radius: 30px;
}
.hero-link {
  display: block;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: auto;
}
/* .hero-icon {
  display: inline-block;
  padding: 11px 13px;
} */
/* .hero-icon {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* категории туров */
.categories {
  padding-top: 64px;
  padding-bottom: 64px;
}
.categories-text {
  line-height: 1.17;
  font-weight: 500;
}
.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-bottom: -32px;
}

.categories-items {
  width: 256px;
  margin-left: 32px;
  margin-bottom: 32px;
  border: 1px solid #d9d9de;
  border-radius: 6px;
  overflow: hidden;
}
.categories-items:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.categories-text {
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
  padding: 13px 19px;
  color: #000000;
}
/* Основные направления деятельности */
.directions {
  padding-top: 44px;
  margin-bottom: 80px;
  background-color: rgba(112, 207, 41, 0.07);
}

.directions .title {
  font-family: PT serif, serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 50px;
}
.direction-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -29px;
  margin-bottom: -37px;
}
.direction {
  width: 252px;
  margin-right: 29px;
  margin-bottom: 37px;
}
/* фотогалерея  */
.gallery-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  color: #000000;
}
.gallery-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  color: #0050b2;
  text-decoration: underline;
  margin-left: auto;
  margin-right: 55px;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -32px;
  margin-bottom: -32px;
}
.gallery-items {
  margin-right: 32px;
  margin-bottom: 32px;
}
.gallery-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 52px;
}
.gallery-button {
  display: flex;
}
.gallery-btn {
  display: block;
  width: 44px;
  height: 44px;
  border: 1px solid #0061d9;
  border-radius: 22px;
  background-color: transparent;
}
.btn:last-child {
  margin-left: 16px;
}
.gallery {
  padding-top: 39px;
  padding-bottom: 85px;
  background-color: rgba(63, 169, 245, 0.07);
}
